*~
*#
.#*
\#*#
.*.sw[a-z]
*.un~
pkg/
.DS_Store
*.retry
*.log
*.lock
*.bak
packer_cache/
ansi_env/

# Vagrant
.vagrant

#VirtualBox
*.box
*.vbox

#Docker
docker_files/

#Ansible
hosts
main.retry
create_vm.yaml
__pycache__
vars/main_head.yml
vars/main.yml
